<div class="product-list">
    <h1>Product List</h1>
    <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of productList">
                <td><img src="{{ item.imageUrl }}" /></td>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.category }}</td>
                <td>{{ item.description }}</td>
                <td class="action-column">
                    <div class="action-box">
                        <a routerLink="/seller-edit-product/{{item.id}}">
                            <fa-icon [icon]="faEdit" class="edit"></fa-icon>
                        </a>
                        <fa-icon [icon]="faTrash" class="delete" (click)="deleteProduct(item.id)"></fa-icon>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>